.layout {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 150px;
}

.loginRight{
    max-height: 900px;
    height: 100%;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F5F6F7;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.rightSpan {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    color: #003367;
}

.img1{
    Width: 598px;
    Height: 455px
}


@media screen and (max-width: 1213px) {
    .loginRight {
        max-height: 900px;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        background-color: #F5F6F7;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .img1{
        Width: 398px;
        Height: 270px
    }

}


@media screen and (max-width: 759px) {
    .loginRight {
        max-height: 900px;
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        background-color: #F5F6F7;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .img1{
        Width: 298px;
        Height: 170px
    }

    .rightSpan {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 900;
        line-height: 22px;
        text-align: center;
        color: #003367;
    }

}



@media screen and (max-width: 620px) {
    .loginRight {
        max-height: 900px;
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        background-color: #F5F6F7;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .img1{
        Width: 198px;
        Height: 130px
    }

    .rightSpan {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 900;
        line-height: 15px;
        text-align: center;
        color: #003367;
    }

}


@media screen and (max-width: 530px) {
    .loginRight {
        max-height: 900px;
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        background-color: #F5F6F7;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .img1{
        Width: 130px;
        Height: 70px
    }

    .rightSpan {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 900;
        line-height: 10px;
        text-align: center;
        color: #003367;
    }

}